.an-card {
  border: 1px solid silver;
  border-radius: 8px;
  min-height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    text-align: center;

    .number {
      margin: 0;
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
      color: #2d2d2d;
    }

    .header {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: #2d2d2d;
    }

    .sub-header {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      color: #2d2d2d;
    }
  }
}
