.container {
  position: relative;
  height: 100vh;

  .messages {
    padding: 10px;
    height: calc(100vh - 200px);
    overflow-y: auto;

    &.isEditorOpen {
      height: calc(100vh - 250px);
    }

    .chat-item {
      display: flex;
      gap: 8px;

      .d-flex {
        display: flex;
        align-items: center;
        gap: 8px;

        .menu-btn {
          margin-left: auto;
        }
      }

      .sender-name {
        font-size: 14px;
        font-weight: 600;
      }

      .sender-date {
        font-size: 14px;
        color: #4c4c4c;
      }

      .chat-box {
        border: 1px solid silver;
        border-radius: 8px;
        font-size: 15px;

        &.important {
          border: 1px solid red;

          .imp-text {
            color: red;
            font-weight: 600;
            font-size: 12px;
          }
        }
      }

      .my-text {
        margin-left: auto;

        p {
          text-align: end;
        }

        .chat-box {
          border: none;
          background-color: #ececec;
        }
      }
    }
  }

  .input-div {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    display: flex;
    align-items: center;
    gap: 8px;

    .text-area {
      width: 100%;

      .placeholder-div {
        width: 100%;
        border: 1px solid silver;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        color: gray;
        border-radius: 8px;

        ion-icon {
          font-size: 22px;
        }
      }
    }

    
  }
}
