<app-header title="Community" type="primary"></app-header>

<ion-content [fullscreen]="true" class="ion-padding container">
  <div
    class="messages"
    [ngClass]="{
    'isEditorOpen': isEditorActive
  }"
    #messagesContainer
    (scroll)="onScroll($event)"
  >
    <div *ngIf="messages.length <= 0">
      <app-empty-list [message]="'No messages found!'"></app-empty-list>
    </div>

    <div class="ion-text-center my-2" *ngIf="isFetchingMore">
      <ion-spinner name="dots" color="primary"></ion-spinner>
    </div>

    <div *ngIf="messages.length > 0">
      <div class="chat-item ion-margin-bottom" *ngFor="let message of messages">
        <app-avatar-image
          [imgUrl]="message.sender.profileImgUrl"
          [height]="'30px'"
          [width]="'30px'"
          *ngIf="!message.myText"
        ></app-avatar-image>
        <div
          [ngClass]="{
            'my-text': message.myText
        }"
        >
          <div class="d-flex mb-1">
            <p class="sender-name m-0">
              {{ message.myText ? 'You' : message.sender.name }}
            </p>
            •
            <p class="sender-date m-0">
              {{ message.createdAt | relativeTime }}
            </p>
            <ion-button
              class="menu-btn"
              size="small"
              fill="clear"
              color="medium"
              *ngIf="message.myText"
              (click)="onOpenMenuTab(message)"
            >
              <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </div>
          <div
            class="chat-box ion-padding"
            [ngClass]="{ 'important': message.isImportant }"
          >
            <div class="imp-text" *ngIf="message.isImportant">IMPORTANT!</div>
            <div [innerHTML]="message.message"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="input-div ion-padding" [formGroup]="newMessageForm">
    <div class="text-area">
      <div
        class="placeholder-div"
        (click)="activateEditor()"
        *ngIf="!isEditorActive"
      >
        Type a message...
        <ion-icon name="camera-outline"></ion-icon>
      </div>
      <quill-editor
        formControlName="newMessage"
        *ngIf="isEditorActive"
        [modules]="quillConfig.modules"
        [theme]="quillConfig.theme"
        [placeholder]="quillConfig.placeholder"
      ></quill-editor>
    </div>
    <div class="send-btn">
      <ion-button
        mode="ios"
        fill="outline"
        [disabled]="!isEditorActive || newMessageForm.invalid"
        (click)="onSendMessage()"
      >
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </div>
  </form>
</ion-content>

<ion-action-sheet
  mode="ios"
  [isOpen]="isActionSheetOpen"
  [buttons]="actionSheetButtons"
  (didDismiss)="isActionSheetOpen = false"
></ion-action-sheet>
