<ion-header mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="type === 'primary'">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="type === 'secondary'" slot="start" (click)="goBack()">
      <ion-icon name="arrow-back" class="header-back-btn"></ion-icon>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="type === 'primary'"
        [routerLink]="APP_ROUTES.Notifications"
      >
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="type === 'primary'" [routerLink]="APP_ROUTES.Profile">
        <div class="img-div">
          <img [src]="userDetails.profileImgUrl ?? DUMMY_IMG_URL" class="img" />
        </div>
      </ion-button>
      <ion-button
        *ngIf="type === 'secondary' && showDelete"
        (click)="onDeleteBtnClick()"
      >
        <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="type === 'tertiary'" (click)="onCloseBtnClick()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- 
Header Types :-
1. 'primary' -> for primary screens
2. 'secondary' -> for secondary screens
3. 'tertiary' -> mainly for the overlay modals 
-->
