<app-header title="Staff Details" type="secondary"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="isLoading === true">
    <app-loader></app-loader>
  </div>

  <div *ngIf="isLoading === false && staffDetails">
    <div class="d-flex">
      <div>
        <app-avatar-image
          [imgUrl]="staffDetails.profileImgUrl"
          [height]="'50px'"
          [width]="'50px'"
        ></app-avatar-image>
      </div>
      <div class="ms-3">
        <p class="name mb-0">{{ staffDetails.name }}</p>
        <div class="status">
          <span
            class="status-chip"
            [ngClass]="staffDetails.isActive ? 'green' : 'red'"
          >
            {{ staffDetails.isActive ? 'Active' : 'Inactive' }}
          </span>
        </div>
      </div>
      <div class="action">
        <ion-button
          size="small"
          fill="clear"
          color="medium"
          (click)="isActionSheetOpen = true"
        >
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </div>
    </div>

    <hr />

    <ion-segment value="details" (ionChange)="onSwitchTabEvent($event)">
      <ion-segment-button value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tasks">
        <ion-label>Tasks</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Details -->
    <div *ngIf="selectedTab === 'details'">
      <app-details
        [staffDetails]="staffDetails"
        (updateStaffDetails)="ionViewWillEnter()"
      ></app-details>
    </div>

    <!-- Tasks -->
    <div *ngIf="selectedTab === 'tasks'">
      <app-tasks [staffId]="staffDetails._id"></app-tasks>
    </div>
  </div>
</ion-content>

<ion-action-sheet
  mode="ios"
  [isOpen]="isActionSheetOpen"
  [buttons]="actionSheetButtons"
  (didDismiss)="isActionSheetOpen = false"
></ion-action-sheet>
