<app-header title="Profile" type="primary"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="profileDetails">
    <div class="d-flex">
      <div class="profile-img">
        <app-avatar-image
          [imgUrl]="profileDetails.profileImgUrl"
          [height]="'80px'"
          [width]="'80px'"
        ></app-avatar-image>
        <div class="change-btn">
          <app-image-picker
            [buttonName]="null"
            (imgPickedEvent)="onPickImage($event)"
          ></app-image-picker>
        </div>
      </div>
      <div>
        <div class="name">{{ profileDetails.name }}</div>
        <div class="status">
          <span
            class="status-chip"
            [ngClass]="profileDetails.isActive ? 'green' : 'red'"
          >
            {{ profileDetails.isActive ? 'Active' : 'Inactive' }}
          </span>
        </div>
      </div>
    </div>
    <hr />

    <div>
      <p class="info-item">
        <ion-icon name="mail-open-outline"></ion-icon>{{ profileDetails.email }}
      </p>
      <p class="info-item">
        <ion-icon name="call-outline"></ion-icon>{{ profileDetails.phoneNumber
        }}
      </p>
      <p class="info-item">
        <ion-icon name="male-female-outline"></ion-icon>{{ profileDetails.gender
        }}
      </p>
      <p class="info-item">
        <ion-icon name="calendar-clear-outline"></ion-icon>{{
        profileDetails.dateOfBirth | date }}
      </p>
    </div>

    <hr />

    <div>
      <p class="header">Documents ({{ profileDetails.documents.length }}):</p>

      <div *ngIf="profileDetails.documents.length <= 0">
        <app-empty-list message="No douments found!"></app-empty-list>
      </div>

      <ion-row
        class="ion-margin-top"
        *ngIf="profileDetails.documents.length > 0"
      >
        <ion-col size="4" *ngFor="let item of profileDetails.documents">
          <div class="img-col">
            <div class="img-div" (click)="onOpenImage(item.imgUrl)">
              <img [src]="item.imgUrl" alt="" />
            </div>
            <div class="date-div" *ngIf="item.createdAt">{{ item.name }}</div>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <hr />

    <ion-button
      expand="block"
      mode="ios"
      fill="outline"
      (click)="onChangePasswordBtnClick()"
    >
      Change Password
    </ion-button>
  </div>
</ion-content>
