<app-header title="Create announcement" type="primary"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p class="page-info-text">
    You can make an announcement by filling the form below, and it will be
    visible to other people's wall for the time range selected by you. It can
    used for announcement purposes for holidays, festive greetings, notices or
    events.
  </p>

  <p class="page-info-text">
    You can make only one at a time!
  </p>

  <hr />

  <form [formGroup]="createAnnouncementForm" (ngSubmit)="onSubmitForm()">
    <div class="d-flex ion-margin-bottom">
      <div>
        <app-datetime-picker
          label="Start Time"
          (dateChangeEvent)="onDateChanged($event, 'startDate')"
          [minDate]="currentDateTime"
        ></app-datetime-picker>
        <div
          *ngIf="startDate?.invalid && startDate?.touched"
          class="text-danger"
        >
          <small *ngIf="startDate?.errors?.['required']">
            Start date-time is required.
          </small>
        </div>
      </div>
      <div>
        <app-datetime-picker
          label="End Time"
          (dateChangeEvent)="onDateChanged($event, 'endDate')"
          [disabled]="!startDate.value"
          [minDate]="startDate.value"
        ></app-datetime-picker>
        <div *ngIf="endDate?.invalid && endDate?.touched" class="text-danger">
          <small *ngIf="endDate?.errors?.['required']">
            End date-time is required.
          </small>
        </div>
      </div>
    </div>

    <div class="ion-margin-bottom">
      <ion-select
        label="Type"
        interface="popover"
        label-placement="floating"
        placeholder="Select"
        fill="outline"
        mode="md"
        formControlName="type"
      >
        <ion-select-option [value]="item.id" *ngFor="let item of typesArr">
          {{ item.name }}
        </ion-select-option>
      </ion-select>
      <div *ngIf="type?.invalid && type?.touched" class="text-danger">
        <small *ngIf="type?.errors?.['required']"> Type is required. </small>
      </div>
    </div>

    <div class="my-3">
      <quill-editor
        formControlName="description"
        [modules]="quillConfig.modules"
        [theme]="quillConfig.theme"
        [placeholder]="quillConfig.placeholder"
      ></quill-editor>

      <div
        *ngIf="description?.invalid && description?.touched"
        class="text-danger"
      >
        <small *ngIf="description?.errors?.['minlength']">
          Description should be minimum 5 characters.
        </small>
      </div>
    </div>

    <ion-button
      mode="ios"
      type="submit"
      expand="block"
      [disabled]="createAnnouncementForm.invalid"
    >
      Confirm
    </ion-button>
  </form>
</ion-content>
