.tasks-item {
  border-radius: 8px;
  border: 1px solid silver;

  .title {
    font-weight: 600;
    color: #2d2d2d;
    font-size: 16px;
    margin-bottom: 8px;
  }

  ion-row {
    font-size: 13px;

    ion-col {
      padding: 0;
    }

    .assignedTo {
      font-size: 14px;
      font-weight: 600;
      text-align: end;
    }
  }
}
