.not-item {
  border: 1px solid #ececec;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #2d2d2d;
  }

  .desc {
    margin-bottom: 4px;
    font-size: 16px;
    // font-weight: 600;
    color: #2d2d2d;
  }

  .date {
    margin-bottom: 0;
    font-size: 13px;
    color: #4c4c4c;
  }

  ion-icon {
    font-size: 20px;
    color: gray;
  }
}
