<ion-button
  mode="ios"
  shape="round"
  color="medium"
  (click)="openCamera()"
  *ngIf="profileImg"
>
  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
</ion-button>

<ion-row *ngIf="!profileImg">
  <ion-col size="10">
    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      hidden
      [disabled]="disabled"
    />
    <ion-button
      mode="ios"
      fill="outline"
      expand="block"
      [disabled]="disabled"
      (click)="fileInput.click()"
    >
      <span *ngIf="buttonName">{{ buttonName }}</span>
    </ion-button>
  </ion-col>
  <ion-col size="2">
    <ion-button
      mode="ios"
      shape="round"
      size="large"
      (click)="openCamera()"
      [disabled]="disabled"
    >
      <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
