<div class="comments">
  <p class="header">Comments ({{ comments.length }}) :</p>
  <div
    class="add-new-comment ion-margin-top"
    (click)="onAddEditComponent()"
  >
    <div>Add comment...</div>
    <div class="icons">
      <ion-icon name="camera-outline"></ion-icon>
    </div>
  </div>

  <div class="ion-margin-vertical" *ngIf="comments.length">
    <div
      class="comment-card ion-margin-bottom"
      *ngFor="let comment of comments"
    >
      <div class="commentedBy">
        <app-avatar-image
          [imgUrl]="comment.commentedBy.profileImgUrl"
          [height]="'25px'"
          [width]="'25px'"
        ></app-avatar-image>
        {{ comment.commentedBy.name }}
        <p class="date m-0">{{ comment.updatedAt | relativeTime }}</p>

        <div class="action" *ngIf="comment.actionAllowed">
          <ion-button size="small" fill="clear" color="medium" (click)="openActionSheet(comment)">
            <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </div>
      </div>
      <p class="comment-text">{{ comment.comment }}</p>
      <ion-row *ngIf="comment.attachments.length">
        <ion-col size="3" *ngFor="let item of comment.attachments">
          <div class="comment-img">
            <div class="img-div" (click)="onOpenImage(item.imgUrl)">
              <img [src]="item.imgUrl" alt="" />
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>

<ion-action-sheet
mode="ios"
  [isOpen]="isActionSheetOpen"
  [buttons]="actionSheetButtons"
  (didDismiss)="isActionSheetOpen = false"
></ion-action-sheet>
