<div class="banner-container">
  <div class="d-flex">
    <div class="status-chip green" *ngIf="userRoleId === USER_ROLE_DESC.OWNER">
      Live in
      <app-countdown-timer
        [targetDate]="bannerDetails.startDate"
      ></app-countdown-timer>
    </div>
    <div class="status-chip gray">
      {{ BANNER_TYPES[bannerDetails.type] }}
    </div>
  </div>
  <div class="ion-padding">
    <div class="img-div">
      <img [src]="bannerDetails.imgUrl" alt="" />
    </div>
    <div
      class="desc-text ion-margin-top"
      [innerHTML]="bannerDetails.description"
    ></div>
  </div>
</div>
