.banner-container {
  border: 1px solid #ececec;
  border-radius: 8px;
  overflow: hidden;

  .d-flex {
    display: flex;
    justify-content: space-between;

    .status-chip {
        padding: 4px 8px;
        font-size: 12px;
    }
  }

  .img-div {
    border: none;
  }

  .desc-text {
    font-size: 14px;
    color: #2d2d2d;
  }
}
