<ion-input
  [disabled]="disabled"
  readonly
  [label]="label"
  label-placement="floating"
  fill="outline"
  mode="md"
  placeholder="Select Date"
  [value]="value | date: 'dd MMM YY, hh:mm a'"
  (click)="openDatePicker()"
>
</ion-input>

<ion-modal [isOpen]="isDatePickerOpen" (ionModalDidDismiss)="closeDatePicker()">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-datetime
        [(ngModel)]="value"
        [min]="minDate"
        (ionChange)="dateChanged($event)"
      >
      </ion-datetime>
      <ion-button
        mode="ios"
        class="ion-margin-vertical"
        expand="block"
        (click)="closeDatePicker()"
        >Confirm</ion-button
      >
    </ion-content>
  </ng-template>
</ion-modal>
