<ion-tabs *ngIf="userLoggedIn">
  <ion-tab-bar mode="md" slot="bottom">
    <ion-tab-button
      *ngFor="let item of footerNavItems"
      tab="{{ item.name }}"
      [routerLink]="item.routerLink"
      (click)="item.name === 'community' ? markMessagesAsRead() : null"
    >
      <ion-icon name="{{ item.iconName }}"></ion-icon>
      <span
        *ngIf="item.name === 'community' && hasNewMessage"
        class="notification-dot"
      ></span>
      {{ item.label }}
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
