/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.app-card {
  border: 1px solid silver;
  border-radius: 16px;
  padding: 16px;
}

.img-div {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #ececec;
  border: 1px solid silver;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

// chips
.status-chip {
  border-radius: 4px;
  font-size: 13px;
  padding: 4px;

  &.green {
    color: #00b200;
    background-color: #e5ffe5;
  }
  &.red {
    color: #ff1919;
    background-color: #ffe5e5;
  }
}

// Toast styles
ion-toast {
  --border-radius: 8px;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}
ion-toast.success-toast {
  --background: #eff5ef;
  --color: #006600;
}
ion-toast.error-toast {
  --background: #fef9f9;
  --color: #e50000;
}
