<app-header title="Task Details" type="secondary"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading === true">
    <app-loader></app-loader>
  </div>

  <div *ngIf="isLoading === false && taskDetails">
    <p class="title" *ngIf="!editTitle">
      {{ taskDetails.title }}
      <span class="ms-2 edit-btn" (click)="onClickEdit('title')">
        <ion-icon name="create-outline"></ion-icon>
      </span>
    </p>

    <div class="ion-margin-bottom" *ngIf="editTitle">
      <ion-textarea
        label="Title"
        label-placement="floating"
        fill="outline"
        [autoGrow]="true"
        rows="3"
        mode="md"
        placeholder="Give your task a title..."
        [(ngModel)]="newTitle"
      ></ion-textarea>

      <div class="update-div">
        <ion-button
          mode="ios"
          fill="outline"
          size="small"
          color="medium"
          (click)="onCancelEdit('title')"
        >
          Cancel
        </ion-button>
        <ion-button mode="ios" size="small" (click)="onConfirmEdit('title')">
          Update
        </ion-button>
      </div>
    </div>

    <p class="dates">
      Last updated at: {{ taskDetails.updatedAt | date: 'hh:mm a, dd MMM yyyy'
      }}
    </p>
    <p class="dates">
      Created at: {{ taskDetails.createdAt | date: 'hh:mm a, dd MMM yyyy' }}
    </p>

    <hr />

    <ion-row>
      <ion-col size="4" class="priority">
        <app-priority-badge
          [priorityId]="taskDetails.priorityId"
        ></app-priority-badge>
      </ion-col>
      <ion-col size="3" class="status">
        <app-status-chip
          [statusId]="taskDetails.statusId"
          [statusDescArr]="TaskStatusDescEnum"
        ></app-status-chip>
      </ion-col>
      <ion-col size="5" class="assignedTo" *ngIf="taskDetails.assignedTo">
        <app-avatar-image
          [imgUrl]="taskDetails.assignedTo.profileImgUrl"
          [height]="'25px'"
          [width]="'25px'"
        ></app-avatar-image>
        {{ taskDetails.assignedTo.name }}
      </ion-col>
    </ion-row>

    <hr />

    <div class="description">
      <p class="header">Description:</p>
      <p class="desc-text" *ngIf="!editDescription">
        {{ taskDetails.description }}
        <span class="ms-2 edit-btn" (click)="onClickEdit('description')">
          <ion-icon name="create-outline"></ion-icon>
        </span>
      </p>

      <div class="ion-margin-vertical" *ngIf="editDescription">
        <ion-textarea
          label="Description"
          label-placement="floating"
          fill="outline"
          [autoGrow]="true"
          rows="5"
          mode="md"
          placeholder="Enter some description..."
          [(ngModel)]="newDescription"
        ></ion-textarea>
        <div class="update-div">
          <ion-button
            mode="ios"
            fill="outline"
            size="small"
            color="medium"
            (click)="onCancelEdit('description')"
          >
            Cancel
          </ion-button>
          <ion-button
            mode="ios"
            size="small"
            (click)="onConfirmEdit('description')"
          >
            Update
          </ion-button>
        </div>
      </div>
    </div>

    <hr />

    <div class="attachments">
      <p class="header">Attachments ({{ taskDetails.attachments.length }}) :</p>

      <ion-row
        class="ion-margin-top"
        *ngIf="taskDetails.attachments.length > 0"
      >
        <ion-col size="4" *ngFor="let item of taskDetails.attachments">
          <div class="img-col">
            <div class="img-div" (click)="onOpenImage(item.imgUrl)">
              <img [src]="item.imgUrl" alt="" />
            </div>
            <div class="remove-img-btn" (click)="onRemoveAttachment(item._id)">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
            <div class="date-div" *ngIf="item.createdAt">
              {{ item.createdAt | date: 'hh:mm a, dd MMM yyyy' }}
            </div>
          </div>
        </ion-col>
      </ion-row>

      <div class="ion-margin-vertical">
        <app-image-picker
          [buttonName]="'Add Attachment'"
          (imgPickedEvent)="onPickImage($event)"
          [disabled]="editTitle || editDescription"
        ></app-image-picker>
      </div>
    </div>

    <hr />

    <!-- Comments -->
  </div>
</ion-content>
