<app-header
  title="Task Details"
  type="secondary"
  [showDelete]="true"
  (deleteBtnClickEvent)="onDeleteTask()"
></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading === true">
    <app-loader></app-loader>
  </div>

  <div *ngIf="isLoading === false && taskDetails">
    <!-- Title -->
    <p class="title" *ngIf="!editTitle">
      {{ taskDetails.title }}
      <span class="ms-2 edit-btn" (click)="onClickEdit('title')">
        <ion-icon name="create-outline"></ion-icon>
      </span>
    </p>
    <div class="ion-margin-bottom" *ngIf="editTitle">
      <ion-textarea
        label="Title"
        label-placement="floating"
        fill="outline"
        [autoGrow]="true"
        rows="3"
        mode="md"
        placeholder="Give your task a title..."
        [(ngModel)]="newTitle"
      ></ion-textarea>

      <div class="update-div">
        <ion-button
          mode="ios"
          fill="outline"
          size="small"
          color="medium"
          (click)="onCancelEdit('title')"
        >
          Cancel
        </ion-button>
        <ion-button mode="ios" size="small" (click)="onConfirmEdit('title')">
          Update
        </ion-button>
      </div>
    </div>

    <p class="dates">
      Last updated at: {{ taskDetails.updatedAt | date: 'hh:mm a, dd MMM yyyy'
      }}
    </p>
    <p class="dates">
      Created at: {{ taskDetails.createdAt | date: 'hh:mm a, dd MMM yyyy' }}
    </p>

    <hr />

    <!-- TaskInfo -->
    <div class="d-flex">
      <div size="3" class="priority" (click)="openSelectAlert('priority')">
        <app-priority-badge
          [priorityId]="taskDetails.priorityId"
        ></app-priority-badge>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
      <div size="4" class="status" (click)="openSelectAlert('status')">
        <app-status-chip
          [statusId]="taskDetails.statusId"
          [statusDescArr]="TaskStatusDescEnum"
        ></app-status-chip>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
      <div size="5" class="assignedTo" (click)="openSelectAlert('staff')">
        <app-avatar-image
          [imgUrl]="taskDetails.assignedTo.profileImgUrl"
          [height]="'25px'"
          [width]="'25px'"
          *ngIf="taskDetails.assignedTo"
        ></app-avatar-image>
        {{ taskDetails.assignedTo ? taskDetails.assignedTo.name : 'Not assigned'
        }}
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <ion-segment value="description" (ionChange)="onSwitchTabEvent($event)">
      <ion-segment-button value="description">
        <ion-label>Description</ion-label>
      </ion-segment-button>
      <ion-segment-button value="comments">
        <ion-label>Comments ({{ taskDetails.comments.length }})</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectedTab === 'description'">
      <!-- Description -->
      <div class="description">
        <p class="header">
          Description:
          <span class="ms-2 edit-btn" (click)="onClickEdit('description')">
            <ion-icon name="create-outline"></ion-icon>
          </span>
        </p>
        <div
          class="desc-text"
          [innerHTML]="taskDetails.description"
          *ngIf="!editDescription"
        ></div>

        <div class="ion-margin-vertical" *ngIf="editDescription">
          <quill-editor
            [(ngModel)]="newDescription"
            [modules]="quillConfig.modules"
            [theme]="quillConfig.theme"
            [placeholder]="quillConfig.placeholder"
          ></quill-editor>
          <div class="update-div">
            <ion-button
              mode="ios"
              fill="outline"
              size="small"
              color="medium"
              (click)="onCancelEdit('description')"
            >
              Cancel
            </ion-button>
            <ion-button
              mode="ios"
              size="small"
              (click)="onConfirmEdit('description')"
            >
              Update
            </ion-button>
          </div>
        </div>
      </div>

      <hr />

      <!-- Attachments -->
      <div class="attachments">
        <p class="header">
          Attachments ({{ taskDetails.attachments.length }}) :
        </p>

        <ion-row
          class="ion-margin-top"
          *ngIf="taskDetails.attachments.length > 0"
        >
          <ion-col size="4" *ngFor="let item of taskDetails.attachments">
            <div class="img-col">
              <div class="img-div" (click)="onOpenImage(item.imgUrl)">
                <img [src]="item.imgUrl" alt="" />
              </div>
              <div
                class="remove-img-btn"
                (click)="onRemoveAttachment(item._id)"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </div>
              <div class="date-div" *ngIf="item.createdAt">
                {{ item.createdAt | date: 'hh:mm a, dd MMM yyyy' }}
              </div>
            </div>
          </ion-col>
        </ion-row>

        <div class="ion-margin-vertical">
          <app-image-picker
            [buttonName]="'Add Attachment'"
            (imgPickedEvent)="onPickImage($event)"
            [disabled]="editTitle || editDescription"
          ></app-image-picker>
        </div>
      </div>
    </div>

    <div class="ion-margin-vertical" *ngIf="selectedTab === 'comments'">
      <!-- Comments -->
      <app-comment-section
        [comments]="taskDetails.comments"
        (addEditCommentEvent)="onAddEditComment($event)"
        (deleteCommentEvent)="onDeleteComment($event)"
        (removeAttachmentFromCommentEvent)="onRemoveAttachmentFromComment($event)"
      ></app-comment-section>
    </div>
  </div>
</ion-content>
