<app-header
  type="tertiary"
  title="Change Password"
  (closeBtnClickEvent)="onCloseModal()"
></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onConfirmChangePassword()">
    <div class="mb-3">
      <ion-input
        type="text"
        mode="md"
        fill="outline"
        label="Current Password"
        label-placement="floating"
        placeholder="Enter your current password"
        formControlName="oldPassword"
      ></ion-input>
      <div *ngIf="oldPassword?.invalid && oldPassword?.touched" class="text-danger">
        <small *ngIf="oldPassword?.errors?.['required']"> Current password is required. </small>
        <small *ngIf="oldPassword?.errors?.['minlength']">
          Password should be minimum 5 characters.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <ion-input
        type="text"
        mode="md"
        fill="outline"
        label="New Password"
        label-placement="floating"
        placeholder="Enter your new password"
        formControlName="newPassword"
      ></ion-input>
      <div *ngIf="newPassword?.invalid && newPassword?.touched" class="text-danger">
        <small *ngIf="newPassword?.errors?.['required']"> New password is required. </small>
        <small *ngIf="newPassword?.errors?.['minlength']">
          Password should be minimum 5 characters.
        </small>
      </div>
    </div>

    <div class="my-5">
      <ion-button
        mode="ios"
        type="submit"
        expand="block"
        [disabled]="changePasswordForm.invalid"
      >
        Confirm
      </ion-button>
    </div>
  </form>
</ion-content>
