.title {
  font-weight: 700;
  text-decoration: underline;
  font-size: 16px;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;

  ion-icon {
    font-size: 16px;
    color: gray;
    margin-left: auto;
  }

  .info {
    color: #4c4c4c;
  }

  .date {
    color: gray;
    margin: 0 0 0 auto;
  }
}
